{% extends 'base.html' %}
{% load filtros %}

{% block 'conteudo' %}
<a style="text-decoration: none;" href="{% url 'livro:editar_livro' livro.id%}">&nbsp; &nbsp;<svg
        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen"
        viewBox="0 0 16 16">
        <path
            d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
    </svg>&nbsp;Editar
</a>
<br>
<div style="text-align: center;" class="container">

    <h1 style="display: inline;">&nbsp; &nbsp;{{livro.nome}}</h1>
    <h3>{{livro.autor}}</h3>
    <h4>{{livro.co_autor}}</h4>
    <p>{{livro.data_cadastro}}</p>
    <p>{{livro.categoria}}</p>
    {% if livro.emprestado %}
    <svg style="color: green" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-check-lg" viewBox="0 0 16 16">
        <path
            d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
    </svg>
    Livro emprestado
    {% else %}
    <svg style="color: red" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-x-lg" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
        <path fill-rule="evenodd"
            d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" />
    </svg>
    Livro não emprestado
    {% endif %}
    <p>{{livro.sinopse}}</p>
    <br>
    <hr>
    <a href="{% url 'livro:inicio'%}" class="btn btn-danger">Voltar</a>
    <h2>Histórico de empréstimos</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Data do emprestimo</th>
                <th scope="col">Data da devolução</th>
                <th scope="col">Duração</th>
            </tr>
        </thead>
        <tbody>
            {% for e in emprestimos %}
            <tr>
                {% if e.nome_emprestado_anonimo == None %}
                    <th scope="row">{{e.nome_emprestado}}</th>
                {% else %}
                    <th scope="row">{{e.nome_emprestado_anonimo}}</th>
                {% endif %}
                <td>{{e.data_emprestimo}}</td>
                <td>{{e.data_devolucao}}</td>
                <td>{{e.data_devolucao|mostra_duracao:e.data_emprestimo}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>


{% endblock 'conteudo' %}